*,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}

header,
section,
.container {
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  display: block;
  border-radius: 10px;
  padding: 16px 30px;
}

.btn-more {
  width: 174px;
  height: 22px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-w-100 {
  width: 100%;
}

.mt-n150{
  margin-top: -150px;  
}

.text-64 {
  font-size: 64px;
}

.text-40 {
  font-size: 40px;
}

.text-32 {
  font-size: 32px;
}

.text-36 {
  font-size: 36px;
}

.text-28 {
  font-size: 28px;
}

.text-20 {
  font-size: 20px;
}

.text-18 {
  font-size: 18px;
}

.text-24 {
  font-size: 24px;
}

.text-22 {
  font-size: 22px;
}
.text-16 {
  font-size: 16px;
}

.text-15_8 {
  font-size: 15.85px;
}

.text-21_5 {
  font-size: 21.5px;
}

.text-14 {
  font-size: 14px;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-300 {
  font-weight: 300;
}

.text-line-24 {
  line-height: 24px;
}

.text-line-26 {
  line-height: 26px;
}

.text-line-30 {
  line-height: 26px;
}

.text-color-white {
  color: #fff;
}

.text-color-light-black {
  color: #131318;
}

.text-color-light-orange {
  color: #ff5400;
}

.text-color-gray {
  color: #5a5a5d;
}

.text-center {
  text-align: center;
}

.text-color-light-black-70 {
  color: rgba(19, 19, 24, 0.7);
}

.text-color-gray-30 {
  color: rgba(19, 19, 24, 0.3);
}

.text-color-gray-500 {
  color: rgba(19, 19, 24, 0.5);
}

.bg-orange {
  background-color: #ff5400;
}

.bg-white {
  background-color: #fff;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.items > .item {
  width: 46%;
}

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

header nav .right-nav .sm-nav-btn {
  display: none;
}

header nav .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 800;
  color: #131318;
}

header nav .right-nav {
  width: 550px;
}

header nav .right-nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header nav .right-nav ul li {
  list-style: none;
}

header nav .right-nav ul a {
  display: block;
  text-decoration: none;
  color: #424247;
  font-weight: 400;
  padding: 0px 1px;
}

header nav .right-nav ul a:hover {
  color: #ff5400;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  margin-top: 40px;
}

.banner-bg-image {
  display: block;
  background-image: url("../images/banner-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  border: none;
  width: 100%;
  height: 100%;
}

.banner-area {
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );

  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.banner .banner-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.banner .search-area {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-top: 45px;
}

.banner .search-area form {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  gap: 16px;
  row-gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
}
.banner .search-area form .submit {
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner .search-area form input[type="submit"] {
  display: block;
  border: none;
}

.banner .search-area form .submit input[type="submit"] {
  display: block;
  width: 100%;
  background-color: transparent;
}

.banner .search-area form input[type="text"] {
  height: 50px;
}
.banner .search-area .select-item,
.banner .search-area form input[type="text"] {
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;
  color: rgba(19, 19, 24, 0.5);
}

.banner .search-area .select-item option {
  width: 100%;
}

.banner .search-area .select-item {
  height: 50px;
}

.banner .search-area form .submit {
  height: 20px;
}

/** our-popular-tour lg view Start */
.our-popular-tour .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 550px;
  gap: 50px;
}

.our-popular-tour .items .item {
  width: 50%;
  margin: 30px 0px;
}

.our-popular-tour .items .item .title-desc {
  _margin-top: -80px;
}

.our-popular-tour .items .item .title-desc .h2,
.our-popular-tour .items .item .title-desc p,
.our-popular-tour .items .item .title-desc li {
  padding-bottom: 24px;
}

.our-popular-tour .items .item .title-desc li {
  margin-left: 24px;
}

.our-popular-tour .tours-img-area {
  background: url("../images/popular.png") lightgray 50% / cover no-repeat;
  display: block;
  width: 100%;
  min-height: 450px;
  border-radius: 16px;
}

/** our-popular-tour lg view End */

/** choose yor destination Start */
.choose-destination .title-desc {
  margin: 25px 0px;
}

.choose-destination .title-desc h2 {
  padding-bottom: 24px;
}

.choose-destination .destination-items {
  width: 100%;
  height: 950px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 24px;
}

.choose-destination .destination-items .item {
  height: 300px;
  border-radius: 16px;
}

.choose-destination .destination-items .item:nth-child(1),
.choose-destination .destination-items .item:nth-child(2) {
  grid-column: span 12;
}

.choose-destination .destination-items .item:nth-child(3) {
  grid-column: span 6;
}

.choose-destination .destination-items .item:nth-child(4) {
  grid-column: span 13;
}

.choose-destination .destination-items .item:nth-child(5) {
  grid-column: span 5;
}

.choose-destination .destination-items .item:nth-child(6) {
  grid-column: span 9;
}

.choose-destination .destination-items .item:nth-child(7) {
  grid-column: span 15;
}

.choose-destination .destination-items .item img {
  width: 100%;
  height: 100%;
}
/** choose yor destination End */

/** why-choose us start */
.why-choose .title-desc {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-choose .title-desc h2 {
  padding-bottom: 24px;
}

.why-choose .why-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 45px;
  gap: 24px;
}

.why-choose .why-items .item {
  width: 45%;
}

.why-choose .why-items .item:nth-child(3) {
  margin: 0 auto;
}

.why-choose .why-items .item h3,
.why-choose .why-items .item p,
.why-choose .why-items .item .icone-area {
  margin: 16px 0px;
}

/** why-choose us end */

/** perfect-place Start */

.perfect-place {
  margin: 25px 0px;
}

.perfect-place .container {
  flex-direction: row;
}

.perfect-place .title-desc h2,
.perfect-place .title-desc p,
.perfect-place .title-desc ul,
.perfect-place .title-desc li {
  margin: 16px 0px;
}

.perfect-place .title-desc ul {
  padding-bottom: 16px;
}

.perfect-place .title-desc li {
  margin-left: 16px;
}

.perfect-place .items .item {
  width: 48%;
}

.perfect-place .items .item .video-content {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  border: none;
  position: relative;
}

.perfect-place .items .item .video-content video {
  width: 100%;
  height: 100%;
  background: none;

  border-radius: 16px;
}

.perfect-place .items .item .video-content .player-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-radius: 16px;
  border: none;
  position: absolute;
  top: 150px;
  left: 0px;
}

.perfect-place .items .item .video-content .player-overlay p {
  word-wrap: break-word;
  z-index: 2;
  text-align: center;
}

/** perfect-place End */

/** news-letter Start */

.news-letter {
  padding-bottom: 50px;
}

.news-letter .container .items {
  gap: 24px;
}
.news-letter .container .items .item {
  width: 50%;
  box-sizing: content-box;
}

.news-letter .container .items .item.news-item {
  border-radius: 16px;
  border: 1px solid #ff5400 !important;
  border: none;
  padding: 25px;
  box-sizing: border-box;
}
.news-letter .container .title-desc {
  display: block;
  padding-bottom: 25px;
}

.news-letter .container .title-desc h2,
.news-letter .container .title-desc p {
  margin: 12px 0px;
}

.news-letter .container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.news-letter .container input[type="text"],
.news-letter .container input[type="email"],
.news-letter .container input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.news-letter .container input[type="text"],
.news-letter .container input[type="email"] {
  background: rgba(19, 19, 24, 0.05);
  padding: 0px 15px;
}

.news-letter .container input[type="submit"] {
  margin-top: 8px;
  cursor: pointer;
}

.news-letter .container input::placeholder,
input::placeholder {
  font: 16px;
  font-weight: 400;
}

.news-letter .container .item .imagearea {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 16px;
  position: relative;
}

.news-letter .container .item .imagearea img {
  width: 100%;
}

.news-letter .container .item .save-bg .save-item {
  width: 350px;
  height: 120px;
  border-radius: 16px;
  transform: rotate(-19.628deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 70px;
  right: 15px;
}
/** news-letter End*/

footer {
  background: rgba(19, 19, 24, 0.05);
  padding: 25px 0px;
  display: flex;
  width: 100%;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .container .title-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 16px;
}

footer .container .title-desc a {
  width: 70%;
  display: block;
  padding-bottom: 20px;
  text-decoration: none;
  color: #131318;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-items {
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
  height: 100px;
}

footer .social-items a {
  text-decoration: none;
  color: #2b3137;
}

footer .social-items a:hover {
  text-decoration: none;
  color: #24292e;
}

footer .social-items .item:nth-child(1) a:hover {
  color: #00acee;
}

footer .social-items .item:nth-child(2) a:hover {
  color: #316ff6;
}

footer .social-items .item:nth-child(3) a:hover {
  color: #316ff6;
}

footer .container hr {
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(19, 19, 24, 0.1);
}

footer .container .copy-right {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  section {
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
  }
  .container {
    width: 575px;
    box-sizing: border-box;
  }

  /* banner Style Start*/

  header nav .logo a {
    font-size: 21.543px;
  }

  header nav .right-nav {
    text-align: right;
  }
  header nav .right-nav .sm-nav-btn {
    display: block;
    padding-right: 20px;
  }

  header nav .right-nav ul {
    display: none;
  }

  .banner {
    width: 100%;
  }

  .banner-bg-image {
    width: 80%;
    padding-bottom: 20px;
  }

  .banner .title-desc h1,
  .banner .title-desc p {
    padding: 10px 20px;
  }
  .banner .title-desc h1 {
    font-size: 22px;
    font-weight: 800;
  }

  .banner .title-desc p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .banner .banner-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner .banner-items .banner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner .title-desc {
    width: 85%;
  }
  .banner .search-area {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding: 16px;
  }

  .banner .search-area form input[type="text"] {
    height: 50px;
  }

  .banner .search-area form {
    grid-template-columns: 400px;
  }

  .banner .search-area form .submit i {
    z-index: 10;
    position: absolute;
    left: 130px;
  }

  /* banner Style End*/

  /** our-popular-tour sm view Start */

  .our-popular-tour .items {
    flex-direction: column;
    min-height: 750px;
  }

  .our-popular-tour .items .item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

  .our-popular-tour .items .item .title-desc {
    margin: 25px;
  }

  .our-popular-tour .items .item .title-desc h2 {
    font-size: 20px;
  }

  .our-popular-tour .items .item .title-desc h2 {
    padding-bottom: 16px;
  }
  .our-popular-tour .items .item .tours-img-area {
    width: 90%;
  }
  /** our-popular-tour sm view End */

  /** choose-destination sm Style Start */

  .choose-destination {
    height: 2400px;
  }

  .choose-destination .destination-items {
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 20px !important;
    min-height: 1000px !important;
  }

  .choose-destination .destination-items .item {
    grid-column: span 24 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .choose-destination .destination-items .item img {
    width: 100%;
  }

  /** choose-destination sm Style End */

  /** why-choose us sm start */

  .why-choose .container {
    flex-direction: column;
  }

  .why-choose .container .why-items {
    flex-direction: column;
  }

  .why-choose .container .why-items .item {
    width: 80%;
  }
  /** why-choose us sm end */

  /** perfect-place start */

  .perfect-place .items {
    flex-direction: column;
  }

  .perfect-place .items .item {
    width: 80%;
  }

  .perfect-place .items .item .video-content {
    height: 360px;
  }

  .perfect-place .items .item:last-child {
    margin-top: 24px;
  }
  /** perfect-place End */

  /** news-letter sm start*/
  .news-letter .container .items {
    flex-direction: column;
  }

  .news-letter .container .items .item {
    width: 73%;
    padding: 30px;
  }

  .news-letter .container .items .item h2 {
    font-size: 20px;
    font-weight: 800;
  }

  .news-letter .container .items .item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .news-letter .container input[type="submit"] {
    font-size: 20px;
  }

  .news-letter .container .item .save-bg .save-item {
    width: 214px;
    height: 80px;
    border-radius: 10.5px;
    bottom: 50px;
  }

  .news-letter .container .item .save-bg .save-item p {
    font-size: 15.8px;
    font-weight: 400;
  }

  .news-letter .container .item .save-bg .save-item h3 {
    font-size: 21.1px;
    font-weight: 800;
  }
  /** news-letter sm start*/
}
